html,
body,
.App {
  min-height: 100vh;
  margin: 0;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: monospace;
}

.navBar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: antiquewhite;
  height: 5vh;
}

.navBar a {
  text-decoration: none;
  color: brown;
}

.navBar a:hover {
  color: darkorange;
  cursor: pointer;
}

.badge {
  background-color: darkgray;
  margin: 0px 0.25rem;
  padding: 0.25rem;
  border-radius: 0.25rem;
  color: white;
  font-weight: bold;
}

.listContainer {
  display: flex;
  flex-flow: row wrap;
  align-items: stretch;
  justify-content: space-evenly;
}

.item {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-between;
  width: 18rem;
  margin: 1rem;
  background-color: lightgray;
  padding: 1rem 0;
  border-radius: 1rem;
}

.item img {
  object-fit: contain;
  height: 200px;
  width: 200px;
}

.item div {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

.button {
  background-color: antiquewhite;
  color: brown;
  width: max-content;
  align-self: center;
  padding: .25rem;
  margin: .5rem;
  border-radius: .5rem;
  border: none;
  text-decoration: none;
}

footer {
  height: 8vh;
  background-color: antiquewhite;
  text-align: center;
}